{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="{% static 'style3.css' %}">
</head>
<body>
    <div>
        <h1>Login</h1>
        <form method="post">
            {%csrf_token%}
            <label>Username</label>  
            <input type="text" required name="username">
            
            <label>Password</label>
            <input type="password" required name="password">
            <input type="submit" class="button">
            <input type="reset" class="button">
        </form>
    </div>
    
</body>
</html>