{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premium Font Logo</title>
    <link rel="stylesheet" href="{% static 'style2.css' %}">
    <!-- Importing a premium font from Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="logo-container">
        <h1 class="logo">Bava's Room</h1>
    </div>
    <div style='postion:absolute;bottom:20px'>
        <a href='{% url 'blog:register'%}'><button >REGISTER</button></a>
        <h1>OR</h1>
        <a href='{% url 'blog:login'%}'><button>LOGIN</button></a>
    </div>
</body>
</html>