{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Target</title>
    <link href="{%static 'style1.css'%}" rel="stylesheet">
</head>
<body style='background-image:linear-gradient(135deg, #6a11cb, #2575fc)'>
    <center>
    <h1 class="heading">J.Nishanth Raj</h1>
    <h2 class="author">- Founder</h2>
    <div class="conabout">
    <p class="about">
        
            <center>
                My First Web Application
            </center>
        I usually learn new things other than school lessons in YouTube and from other websites.I do this improve myself 1% better everyday by reading books,a concept in a programming language etc.
        <br>
        I myself know the value of my time at a small age and even controlled myself not to go into distractions like Instagram or others.So I don't have an Instagram account ,even many of my friends have.The self control is more important than any skill.
        <br>
        I spend most of the leisure time on learning new skills,programming language etc.At a moment I felt that only learning does not help me so I started to do mini-projects with the knowledge I have.During that time I realised  that practical implementation and theoritical learning is not same.
        <br>
        After learning Python and Django framework I sat at the floor and throw of my sink to build my first blog web application named by me as 'BAVA'S ROOM' because my nickname in my school was 'BAVA' and I listen patiently to everyone's idea in school and the Romm symbolise my soul.
        <br>
        The vision of my blog app is to share their thoughts or secrets without their own identity to reduce stress.
        <br>
        When I sat to build the app,I was not planned perfectly.Intially I was confronted with many errors and obstacles that made me happier because when I face new errors I learn new things and those errors make me clever.
        <br>
        The project was a favourite for me as it was a large project I made and without using any AI when most people just copy the code.
        <br>
        My journey of learning does not stop here it grows further like a hopvine and do more project.Instead of memorizing the programmes or codes 'sometime I also' I put effort much in  understanding the logic.
        <br>
        The continuation of learning turned into a addiction and changed my surrounding into new producer of ideas.
        <br> 
          <pre>
            Postive thinking leads 
            to Postive outcome
          </pre>         
        
    </p>
    </div>
</center>   
 
</body>
</html>